<div class="messages message-success">
    <h1>{{ title }}</h1>

    Congratulations!<br>
    Your product '{{ productWatcherTitle }}' has reached the desired price {{ productWatcherDesiredPrice }}.
</div>

